body {
    background-color: rgb(206, 104, 121);
}
.cards-list {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}
.card {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 18em;
    border: black solid 1px;
}
.card-img-top {
    height: 70%;
    border-bottom: black 1px solid;
}
.card-title {
    font-weight: bold;
    text-decoration: underline;
}
.card-text {
    margin-top: 15px;
}
.card-button {
    background-color: #495057;
    color: white;
    font-weight: bold;
    border: black solid 1px;
    width: 100%;
    height: 40px;
}
.card-button:hover{
    background-color: #495057;
    color: rgb(206, 104, 121);
    font-weight: bold;
    border: black solid 1px;
    width: 100%;
    height: 40px;
}